In [16]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#importing vodka infomation
vodka_url="http://www.efficientdrinker.com/liquor/"
vodka_data=pd.read_html(vodka_url)
vodka_df=vodka_data[0]
vodka_df=vodka_df.rename(columns={'Brand or Type':'Brand'})
vodka_df['Type']='Vodka'
vodka_df=vodka_df.drop(columns=['ABV','Efficiency','Carbs (g)'])
vodka_df.sample(3)

                             Brand  Calories   Type
5     Captain Morgan Private Stock        97  Vodka
4   Captain Morgan Original Spiced        85  Vodka
16              Tequila (80 proof)        97  Vodka

In [17]:
#importing beer infomation
beer_url="http://www.efficientdrinker.com/beer/complete-calories-abv/"
beer_data=pd.read_html(beer_url)
beer_df=beer_data[0]
beer_df['Type']='Beer'
beer_df=beer_df.drop(columns=['ABV','Efficiency'])
beer_df.head(5)

               Brand  Calories  Type
0        Abita Amber       128  Beer
1       Abita Golden       125  Beer
2  Abita Jockamo IPA       190  Beer
3        Abita Light       118  Beer
4  Abita Purple Haze       128  Beer

In [18]:
#importing malt infomation
malt_url="http://www.efficientdrinker.com/wine/malternatives/"
malt_data=pd.read_html(malt_url)
malt_df=malt_data[0]
malt_df['Type']='Malt'
malt_df=malt_df.drop(columns=['ABV','Efficiency'])
malt_df.head(5)

                                  Brand  Calories  Type
0              Truly Spiked & Sparkling       100  Malt
1  Henry's Hard Sparkling Passion Fruit        92  Malt
2     Henry's Hard Sparkling Lemon Lime        93  Malt
3                  Spiked Seltzer Water       140  Malt
4            Mike's Light Hard Lemonade        98  Malt

In [10]:
alc_df=pd.concat([malt_df,beer_df,vodka_df]) #joining all three of the dataframes together
alc_df=alc_df.reset_index() #reseting the index for the one dataframe

#changing the values in data frame to lowercase
alc_df["Brand"]=alc_df["Brand"].str.lower()
alc_df["Type"]=alc_df["Type"].str.lower()

alc_df.head(10)

   index                                 Brand  Calories  Type
0      0              truly spiked & sparkling       100  malt
1      1  henry's hard sparkling passion fruit        92  malt
2      2     henry's hard sparkling lemon lime        93  malt
3      3                  spiked seltzer water       140  malt
4      4            mike's light hard lemonade        98  malt
5      5                     twisted tea light       115  malt
6      6                                  zima       181  malt
7      7                           twisted tea       220  malt
8      8                bacardi silver sangria       267  malt
9      9                          smirnoff ice       227  malt

In [15]:
def lower_cal(kind,name): #function that returns a dataframe of lower calorie options
    indi=alc_df[alc_df['Brand']==name].index.item()
    num_cals=alc_df.get_value(indi,'Calories')

    suggest_lowcal=alc_df[(alc_df["Type"]==kind) & (alc_df["Calories"]<num_cals)]
    suggestions=suggest_lowcal.sample(3)
    
    return suggestions

def get_cal(kind,name): #function that returns the amount of calories in one serving
    indi=alc_df[alc_df['Brand']==name].index.item()
    num_cals=alc_df.get_value(indi,'Calories')
    
    return num_cals

lower_cal("vodka","fireball")

     index                 Brand  Calories   Type
323     32              chambord        95  vodka
316     25      vermouth (sweet)        60  vodka
320     29  bailey's irish creme        86  vodka

In [22]:
try:
    
    beer_total=0
    vodka_total=0
    malt_total=0
    print("Alcohol Calorie Counter \n")
    
    while True:
        
        user_type=input("Please enter a type of alcohol. Your choices are Beer, Vodka, and Malt. Enter STOP if your finished. \n")
        
        #test to see if user enters stop while ignoring case
        if(user_type.casefold()=='STOP'.casefold()):
            cal_total=beer_total + vodka_total + malt_total
            print("On your night out you drank a total of %.2f calories" %(cal_total ))
            break
            
        #test to see if user enters beer while ignoring case
        elif(user_type.casefold()=="Beer".casefold()):
            user_type="beer"
            while True:
                user_brand=input("Please enter a brand of Beer you had. Enter STOP if your done.\n")
                user_brand=user_brand.lower()

                if(user_brand=="stop"):
                    break

                #preforms calculation and adds calorie count to running sum
                num_drinks=int(input("Please enter the number of drinks of %s you had.\n" %(user_brand)))
                cal_count_beer=get_cal(user_type,user_brand)
                cal_count_beer=cal_count_beer*num_drinks
                beer_total=beer_total+cal_count_beer
                print("While having %d drinks of %s you consumed %.2f calories" %(num_drinks,user_brand,cal_count_beer))
                print("Here are some lower calorie alternatives")
                display(lower_cal(user_type,user_brand))
                
         #test to see if user enters vodka while ignoring case
        elif(user_type.casefold()=="Vodka".casefold()):
            user_type="vodka"
            while True:
                user_brand=input("Please enter a brand of Vodka you had. Enter STOP if your done.\n")
                user_brand=user_brand.lower()

                if(user_brand=="stop"):
                    break
                    
                #preforms calculation and adds calorie count to running sum
                num_drinks=int(input("Please enter the number of shots of %s you had.\n" %(user_brand)))
                cal_count_vodka=get_cal(user_type,user_brand)
                cal_count_vodka=cal_count_vodka*num_drinks
                vodka_total=vodka_total+cal_count_vodka
                print("While having %d shots of %s you consumed %.2f calories" %(num_drinks,user_brand,cal_count_vodka))
                print("Here are some lower calorie alternatives")
                display(lower_cal(user_type,user_brand))
                
        #test to see if user enters beer while ignoring case
        elif(user_type.casefold()=="Malt".casefold()):
            user_type="malt"
            while True:
                user_brand=input("Please enter a brand of Malt liquor you had. Enter if when your done.\n")
                user_brand=user_brand.lower()

                if(user_brand=="stop"):
                    break
                    
                #preforms calculation and adds calorie count to running sum
                num_drinks=int(input("Please enter the number of drinks of %s you had.\n" %(user_brand)))
                cal_count_malt=get_cal(user_type,user_brand)
                cal_count_malt=cal_count_malt*num_drinks
                malt_total=malt_total+cal_count_malt
                print("While having %d drinks of %s you consumed %.2f calories" %(num_drinks,user_brand,cal_count_malt))
                print("Here are some lower calorie alternatives")
                display(lower_cal(user_type,user_brand))

         #check for the user       
        else:
            print("Im sorry one of our alcohol types isn't %s" %(user_type)) 
#prevents error message 
except ValueError:
    print("ERROR: Either that brand was not located in our database or you didn't enter a proper number of drinks")

Alcohol Calorie Counter

Please enter a type of alcohol. Your choices are Beer, Vodka, and Malt. Enter STOP if your finished.
STOP
On your night out you drank a total of 0.00 calories